# === Node.js & Vue ===
node_modules/
dist/
*.local
.env*
*.log

# === VS Code ===
.vscode/
.history/

# === macOS / Windows 系统文件 ===
.DS_Store
Thumbs.db

# === Tauri / Rust ===
/src-tauri/target/
src-tauri/updater/

# === Package managers (Yarn / PNPM) ===
.pnpm-debug.log

# === Optional test/screenshot stuff ===
screenshots/
test-results/
coverage/

src-tauri/bin
src-tauri/sub
src-tauri/log
src-tauri/config
src-tauri/data
*.db